.donate-btn{
  background-color: $logo_orange !important;
  width:30% !important;
  margin:5px auto !important;
}

.nav-btn{
  background-color: $logo_orange !important;
  padding-left:7px !important;
  padding-right:7px !important;
  // margin:5px auto !important;
}