.admin-targ{
 padding-left:20px;
 height:10px;
 margin-bottom:0px;
 .no__deadline{
     margin-left:40%;
 }
}

.contributed-progress-view{
    padding-left:20px;
    .percent{
        margin-left:60%;
    }
   }
