.footer-container{
  width:100%;
  background-color:#7D7266;
  margin-top:110px;
  padding-top:40px;
  .footer-row{
    display:flex;
  }
  .footer-row h4{
    color:$logo_green;
  }
  @media screen and (min-width:701px){
    .about-col{
      width:40%;
      margin-left:200px;
    }
  }
 
  .about-col p{
    color:#fff;
}
  .Categories-col{
    width:55%;  
  }
  .Categories-col p {
    color:#fff;
}
}
@media screen and (max-width:700px){
  .about-col{
    width:50%;
    margin-left:100px;
 }
 .Categories-col{
  width:50%;  
}
}


