.footer-container{
  width:100%;
  background-color:#7D7266;
  margin-top:110px;
  padding-top:40px;
  .footer-row{
    display:flex;
  }
  .footer-row h4{
    color:$logo_green;
  }
  .about-col{
    width:20%;
    margin-left:100px;
    .about-col p{
      color:#fff;
  }
  }
  .Categories-col{
    width:70%;
      .Categories-col p {
        color:#fff;
    }
  }
  
}
// @media screen and (max-width:786px){
//   .footer-row{
//     padding-left:0px;
//     border:1px solid red
//   }
//  }


