$black: #000;
$text_color: #fff;
$white: #fff;
$logo_green: #05591b;
$logo_orange: rgb(199, 90, 0);

// Nav Style
.toolbar {
  background-color: $logo_green;
  height: 75px;
  width:100%;
}
*{
  box-sizing: border-box;
}
.donate__navbar {
  height: 100%;
  display:flex;
  .nav-left{
   padding-top: 20px;
  }
  .logo {
    width: 150px;
  }
  
  }
  ul {
    list-style: none;
  }
   .nav-item {
     padding: 0px 7px;
     .navigation-link {
      color: $white;
      padding: 0px 10px !important;
    }
    & a:hover, .navigation-link:hover{
      text-decoration: none;
    }
    & a:focus, .navigation-link:focus {
      text-decoration: none;
    }
    
    .navigation-link--active {
      border-bottom: 2px solid $logo_orange;
      transition: border-bottom .5s ease-in-out; 
      &:hover{
        border:none;
      }
    }
  }

  .navbar-center-container{
  .navbar-center {
    display: flex; 
    padding-top:15px;
    .fund-nav, .donate-nav {
      position: relative;
        &:hover{
          .nav__submenu {
            visibility: visible;
            opacity: 1;
            transition: 0.3s visibility ease-in 0.1s, 0.4s opacity ease-out;
          }
        }
    
      & .nav__submenu {
        position: absolute;
        z-index: 1000;
        width: 150px;
        background-color:$logo_orange;
        padding: 10px 15px;
        color: white;
        top: 20px;
        visibility: hidden;
        opacity: 0;
      }
    } 
  }
  }

  .__end-right-container {
    padding-top:20px;  
    .bar-right-col{
     .bar-right {
      display: flex;
    } 
    }
  }
 
 





// menu toggle
.menu-toggle {
  width: 40px;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
  padding: 10px 2px;
  box-sizing: border-box;
  cursor: pointer;
}

.menu-button {
  width: 90%;
  height: 3px;
  background-color: white;
  margin-top: 15%;
  cursor: pointer;
}

@media (min-width: 500px) {
  .menu-toggle {
    display: none;
  }
}

.SideDrawer {
  position: fixed;
  width: 280px;
  max-width: 70%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 200;
  background-color: white;
  padding: 32px 16px;
  box-sizing: border-box;
  transition: transform 0.3s ease-out;
}
.times-bt-container {
  border: none;
  border: 2px solid #f2f2f2;
  width: 22%;
  border-radius: 50%;
  height: 50px;
  position: relative;
  margin-left: 80%;
  outline: none;
  .times-bt {
    outline: none;
    border: none;
    background: none;
    color: #333333;
    font-size: 45px;
    position: absolute;
    bottom: -9px;
    left: 2px;
  }
}

@media (max-width: 340px) {
  .times-bt {
    left: -2px;
  }
}
.times-bt:focus {
  border: none;
  outline: none;
}

@media (min-width: 500px) {
  .SideDrawer {
    display: none;
  }
}

.Open {
  transform: translateX(0);
}

.Close {
  transform: translateX(-100%);
}

