

.categories{
width:100%;
margin-top:80px;
//  @include family;
}

.category-slide{
  height:200px;
  position:relative;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  // opacity:.8;
  width:100%;
  height:200px;
  // margin-right:10px;
  transition:transform 100ms ease-in;
  cursor:pointer;
  .text-category {
    color:#fff;
    font-weight:600;
    font-size:2rem;
  }
}



