
*{
    box-sizing:border-box;
}

.feature-headline{
    margin-top:80px;
   }
.feature{
    width:100%;
    padding-left:15px;
    padding-right:15px;
    margin-right:auto;
    margin-left: auto;  
  
    .feat-row{
        display:flex;
       flex-wrap:wrap;
       padding-left:-15px;
       padding-right:15px
    }
}


